spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://mysql:3306/gym_users?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: rootpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # For dev only, use validate or none in prod
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Redis Configuration
  data:
    redis:
      host: redis
      port: 6379

  # Kafka Configuration
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: user-service-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
